@font-face {
    font-family: 'Muller';
    font-weight: 500;
    font-style: normal;

    src: url('fonts/MullerMedium.woff2') format('woff2'),
    url('fonts/MullerMedium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/MullerRegular.woff2') format('woff2'),
    url('fonts/MullerRegular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    font-weight: 800;
    font-style: normal;

    src: url('fonts/MullerBold.woff2') format('woff2'),
    url('fonts/MullerBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    font-weight: 100;
    font-style: normal;

    src: url('fonts/MullerLight.woff2') format('woff2'),
    url('fonts/MullerLight.woff') format('woff');
    font-display: swap;
}

/* ************************************************************************* */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1f1;

    font-family: 'Muller', sans-serif;
}

a {
    text-decoration: none;

    color: inherit;
}

.flex {
    display: flex;
}

/* ************************************************************************* */
.container {
    max-width: 1168px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: left;

    margin-top: 30px;
}

.header-logo {
    width: 260px;
}

.header-phone {
    margin-left: 25px;

    text-decoration: none;

    color: #666666;

    font-family: 'Muller', sans-serif;
    font-size: 22px;
    font-weight: 800;
}

.header-personal-office {
    display: flex;
    align-items: flex-end;

    margin-right: 10px;
    margin-left: auto;
    padding-left: 17px;

    color: #cc9933;
    background-image: url(img/private_office.png);
    background-repeat: no-repeat;

    font-family: 'Muller', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
}

.header-personal-office img {
    height: 18px;
    margin-right: 5px;
}

.nav {
    display: flex;
    align-items: center;

    width: 100%;
    height: 70px;
    margin-top: 30px;

    border-radius: 12px;
    background-color: white;
}

.nav-menu {
    display: flex;

    height: 100%;

    list-style: none;
}

.nav-menu-item {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: left;

    margin-left: 50px;

    color: #333333;

    font-family: 'Muller', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.nav-search-text {
    width: 350px;
    height: 50px;
    padding: 20px;

    border: 1px solid #f1f1f1;
    border-radius: 15px;
    background-color: #f1f1f1;

    font-size: 14px;
}

.nav-search-img {
    position: absolute;
    top: 15px;
    right: 20px;

    width: 22px;
    height: 22px;

    border: 0 solid black;
    background-image: url(img/search.png);
    background-repeat: no-repeat;
}

.nav-input-relative {
    position: relative;

    width: 350px;
    height: 50px;
    margin-right: 20px;
    margin-left: auto;
}

.reservation {
    width: 578px;
}



.special-offer {
    width: 595px;
}

.special-offer-heading {
    display: inline-block;

    max-width: 350px;
    margin-top: 265px;
    margin-left: 45px;
}

.special-offer-heading span {
    display: block;
}

.special-offer-slider {
    position: relative;

    width: 595px;
    min-height: 540px;
    margin-top: 0;
}

.special-offer-img {
    position: absolute;
    z-index: -1;
    right: 0;

    width: 595px;

    border-radius: 12px;
}

.special-offer-text {
    color: #ffffff;

    font-family: 'Muller', sans-serif;
    font-size: 66px;
    font-weight: 800;
    line-height: 58px;
}

.special-offer-price {
    margin-top: 45px;

    color: rgba(255, 255, 255, .5);

    font-family: 'Muller', sans-serif;
    font-size: 35px;
    font-weight: normal;
    line-height: 32px;
}

.special-offer-more {
    margin-left: 40px;
    padding-right: 20px;

    color: #ffcc66;
    background-image: url(img/arrow_right.svg);
    background-repeat: no-repeat;
    background-position: right;

    font-family: 'Muller', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.special-offer-more img {
    height: 16px;
    margin-left: 5px;

    line-height: 32px;
}

.heading-h2 {
    margin-top: 75px;
    margin-bottom: 25px;
    margin-left: 45px;

    font-family: 'Muller', sans-serif;
    font-size: 40px;
    font-weight: normal;
}

.reservation-input {
    width: 520px;
    height: 70px;
    margin-bottom: 25px;
    padding: 25px 20px;

    color: #999999;
    border: 1px solid #ffffff;
    border-radius: 12px;

    font-family: 'Muller', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.btn-orange {
    display: inline-block;

    color: #ffffff;
    border: 0 solid #cc9933;
    border-radius: 12px;
    background-color: #cc9933;

    font-family: 'Muller', sans-serif;
    font-size: 16px;
    font-weight: 800;
}

.btn-find-number {
    margin-right: 30px;
    padding: 30px;
}

.reservation-count-text {
    display: inline;

    color: #999999;

    font-family: 'Muller', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.reservation-number {
    color: #cc9933;
}

.about-us-text {
    margin-left: 45px;

    color: #666666;

    font-family: 'Muller', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 32px;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.services-block {
    width: 572px;
    height: 325px;
    margin-bottom: 24px;

    border-radius: 12px;
    background-color: #ffffff;
}

.services-right-block {
    margin-left: 24px;
}

.services-block-img {
    width: 100%;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.heading-servises {
    display: inline-block;

    max-width: 100%;
    margin-top: 35px;
    margin-left: 45px;
    padding-right: 20px;

    color: #cc9933;
    background-image: url(img/arrow_right_orange2.svg);
    background-repeat: no-repeat;
    background-position: right;

    font-family: 'Muller', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
}

.services-text {
    padding: 0 45px;

    color: #333333;

    font-family: 'Muller', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 32px;
}

.advantages {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}

.advantages-block {
    width: 275px;
    height: 275px;
    margin-left: 22px;

    border-radius: 12px;
    background-color: #ffffff;
}

.advantages-block:nth-child(4n-3) {
    margin-left: 0;
}

.advantages-block-top {
    margin-bottom: 24px;
}

.advantages-img {
    height: 59px;
    margin-top: 45px;
    margin-left: 45px;
}

.advantages-text {
    margin-top: 16px;
    padding: 0 45px;

    color: #333333;

    font-family: 'Muller', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 32px;
}

.places {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

.places-block {
    position: relative;

    width: 372px;
    height: 441px;
    margin-top: 25px;
    margin-left: 25px;

    border-radius: 12px;
    background-color: #ffffff;
}

.places-stars {
    position: absolute;
    right: 45px;
    bottom: 170px;
}

.places-stars img {
    width: 14px;
    margin-left: 1px;
}

.places-block:nth-child(3n-2) {
    margin-left: 0;
}

.places-text {
    margin-top: 25px;
    padding: 0 45px;

    color: #333333;

    font-family: 'Muller', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 32px;
}

.places-from {
    color: #969696;
}

.places-price {
    font-size: 22px;
    font-weight: 800;
}

.places-img {
    width: 100%;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.places-city-country {
    color: #999999;
}

.btn-numbers {
    width: 100px;
    margin-top: 15px;
    padding: 10px 20px;
}

.btn-white {
    margin-left: 45px;

    color: #cc9933;
    border: 1px solid #cc9933;
    border-radius: 12px;
    background-color: #ffffff;

    font-family: 'Muller', sans-serif;
    font-size: 16px;
    font-weight: 800;
}

.see-all-link {
    display: inline-block;

    margin-top: 370px;
    margin-left: 40px;
    padding-right: 20px;

    color: #ffffff;
    background-image: url(img/arrow_right_white.svg);
    background-repeat: no-repeat;
    background-position: right;

    font-family: 'Muller', sans-serif;
    font-size: 22px;
    font-weight: 500;
}

.last-places-block {
    position: relative;

    min-height: 441px;

    background-color: transparent;
}

.last-places-img {
    position: absolute;
    z-index: -1;

    border-radius: 12px;
}

.footer {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

.contacts {
    width: 472px;
}

.contacts-block {
    width: 100%;

    border-radius: 12px;
    background-color: #ffffff;
}

.contacts-subblock {
    margin: 0 45px;
    padding-top: 26px;
    padding-bottom: 29px;

    background-image: url(img/line.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}
.contacts-subblock:nth-child(1) {
    padding-top: 45px;
}

.contacts-subblock-title {
    display: inline-block;

    width: 150px;

    vertical-align: top;

    color: #666666;

    font-family: 'Muller', sans-serif;
    font-size: 22px;
    font-weight: 800;
}

.contacts-subblock-text {
    display: inline-block;

    max-width: 228px;
    margin-right: 0;
    margin-left: auto;

    color: #333333;

    font-family: 'Muller', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
}

.contacts-subblock-numbers {
    max-width: 160px;

    color: #cc9933;
}

.contacts-subblock-schedule {
    max-width: 170px;
}

.btn-route {
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 25px 30px;
}

.orange {
    color: #cc9933;
}

.gray {
    color: #999999;
}

.section-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    width: 696px;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
}

.input {
    width: 340px;
    margin-bottom: 23px;
    padding: 27px 20px;

    border: 0px;
    border-radius: 12px;
    background-color: #ffffff;

    font-family: 'Muller', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
}

.input::placeholder {
    color: #999999;

    font-family: 'Muller', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
}

.textarea {
    height: 110px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.no-h-margin {
    margin-right: 0;
    margin-left: 0;
}

.btn-submit {
    width: 340px;
    padding: 27px 0;
}

.reference {
    position: relative;

    display: flex;

    width: 100%;
    height: 340px;
    margin-top: 13px;
    margin-bottom: 50px;

    border-radius: 12px;
    background-color: #333333;
    background-image: url(img/sun.png);
    background-repeat: no-repeat;
    background-position-x: 734px;
    background-position-y: bottom;
}

.reference-info, .reference-contacts {
    width: 480px;
    padding-top: 50px;
    padding-left: 50px;

    white-space: pre-line;

    color: #ffffff;

    font-family: 'Muller', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 32px;
}

.reference-social {
    position: absolute;
    top: 50px;
    right: 50px;

    display: flex;
    flex-direction: column;
}

.social-img {
    margin-bottom: 20px;
}
